h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Avenir Light", Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.selected {
    color: #F26521 !important
}

p a {
    color: #268bd2
}

.selected svg {
    color: #F26521 !important
}


.ButtonGroupNav button {
    padding: 0
}

.ButtonGroupNav button a {
    color: inherit;
    padding: 6px 16px;
    text-decoration: none;
    display: inline-block !important;
    width: 100%;
}

.paginationPaperHover{
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
    padding: 0 10px 13px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
}

.paginationPaperHover:hover{
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

.messengerFilledInput {
    background: rgba(0, 0, 0, 0.02) !important;
    border-right: 0 !important;
}
.messengerFilledInput input{
    padding: 12px;
}

@media only screen and (max-width: 600px) {
    .paginationPaperHover{
        opacity: 1;
        width: 100%;
        box-shadow: initial;
        bottom: 70px;
        position: relative;
    }
}


.backgroundLogos{
    position: fixed;
    z-index: -99;
    height: 100%;
    width: 1814px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
}

.backgroundLogos .backgroundLeft{
    background-image: url("../public/portfolio-left.jpg");
    width: 100%;
    height:450px;
    background-size: contain;
    animation: moveLeft 100s linear infinite;
}


.backgroundLogos .backgroundRight{
    background-image: url("../public/portfolio-right.jpg");
    background-size: contain;
    width: 100%;
    height:450px;
    animation: moveRight 100s linear infinite;
}

@keyframes moveLeft {
    from {background-position: -1814px;}
    to {background-position: 1814px}
}


@keyframes moveRight{
    from {background-position: 1814px}
    to {background-position: -1814px}
}
